<% @conversation.messages.each_with_index do |message, index| %>
  <p>
    <%= "#{message.user.name}: #{message.content}" %>
    <% if message.display_read(index, current_user) %>
      (Read)
    <% end %>
  </p>
<% end %>

<%= render partial: "message_form", locals: { message: @message, converser: @conversation.other_user(current_user) } %>