<div class="lead-in text-center">
	<h4>Start your new life with one <i>click</i></h4>
</div>
<div class="container">
	<div class="row">
	 <% @products.each do |product| %>
	 <div class="four columns product">
	 	  <div class="product-name text-center">
	     <%= link_to product.name, product_path(product) %>
	   </div>
	 	<div class="product-image text-center">
	     <%= image_tag product.images.first.url %>
	   </div>
	  </div>
	 <% end %>
	 </div>
 </div>