
<header class="messages-header">
	<div class="container">	
		<div class="row">
			<div class="three offset-by-one columns text-center">
				<img class="profile" src="#">
			</div>
			<div class="eight columns">
				<h1>Messages Center</h1>
				<span class="user-name"><%= link_to current_user.name, user_path(current_user) %></span>
				<h4>View your messages from other One <i>Click</i> users</h4>
			</div>
		</div>
	</div>	
</header>
<section>
	<div class="container">	
		<div class="row">
			<div class="ten offset-by-one columns">
					<% current_user.all_conversations.each do |conversation| %>
				<article class="message-bar">
				 <p>
   				 <%= link_to conversation.other_user(current_user).name, conversation_path(conversation) %>
  				</p>
				</article>
					<% end %>
		</div>
	</div>	
</section>
