<% @products.each do |product| %>
<h3 class="page-title text-center">Your Pending Products</h3>
<hr class="fifty">
<div class="container">
<div class="row">
    <%= render "users/product_card_pending" %>
    </div>
    </div>
  </div>
<% end %>