footer {
	background: #222;
	color: #fff;
	padding: 2rem;
}
.sub-footer {
	margin-top: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: #fafafa;
	border-top: 2px solid #eee;
}

.copyright-footer {
	background: #222;
	color: #fff;
	span {
		color: #7d7d7d;
	}
}