 body {
  background: #f5f5f5;
 }
 .lead-in {
  border-bottom: 1px solid #ddd;
 }

 .content-container-pad {
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 80px;
 }

 .create-listing {
  font-size: 0.8em;
 }

