 .how-it-works {
  border-top: 1px solid #ddd;
  background: #f5f5f5;
 }
section {
  padding: 2rem;
}

 .content-container-pad {
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 80px;
 }

 .create-listing {
  font-size: 0.8em;
 }

 .page-title{
 	padding-top:5rem;
 }
