 .lead-in {
  border-bottom: 1px solid #ddd;
 }

 .product {
  border-radius: 5px;
  border: 1px solid #ddd;
  border-bottom:2px solid #ddd;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:#444;
 }
 .product-name{
  font-size: 2rem;
  background: #ddd;
  border-radius: 5px 5px 0px 0px;
  a{
    color:#444;
  }
  &:hover{
    background:#eee;
  }
 }
 .product-image{
  border-bottom:1px solid #ddd;
 }