.product-card {
	border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px #C7C7C7;
    overflow: hidden;
    position: relative;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    height: 45rem;
    a{
        text-decoration: none;
    }


}
.repeater:nth-child(3n+4) {
        margin-left:0;
    }
.product-title-container {
    height:22.5rem;
    width:100%;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    img {
        max-height: 22.5rem;
        width:auto;
    }

}

.product-details {
    padding: 1rem;
}
.product-title {
    margin-bottom:0;
    font-size: 1.8rem;
}
.product-user {
 margin-bottom: 0;
 a {
    text-decoration: none;
 }
}
.product-tagline {
    margin-bottom: 2.5rem;
}
.info {
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
    margin-bottom: 0;
    font-size: 80%;

    span.social {
        float: right;
        i {
            padding-left:1rem;
            color: #F05037;

        }

    }
    span.green i{
            color: #39B54A;
        }
    i {
        font-size: 1.8rem;
    }
    i:hover {
        opacity: .6;
    }
}
