
//Style Header sections here

.messages-header {
	padding: 6rem 0 2rem;
	border-bottom: 1px solid #ddd;
	h1 {
		margin-top: 5%;
	}
	img {
		border-radius: 100%;
		width: 200px;
		height: 200px;

	}
	span.user-name {
		color: red;
	}
}

.message-reply {
	padding: 4rem 0;
}

#message_content {
	display: block;
	width: 50%;
	border: none;
	border-bottom: 2px solid #ddd;
	min-height: 0;
	margin: 2.5rem 0;
	&:focus {
		background: #fff;
	}
}

.bio {
	max-width: 65%;
	margin-left: 17.5%;
}
//Style Sections here

.listing-intro {
	padding-top: 6rem;
}
.new-listing { 

 input {
 	width: 100%;
 	margin-bottom: 3rem;

	&:focus {
		background: #fff;
		border: 1px solid #33C3F0;
	 }
  }
  textarea,
  select {
  	width: 100%;
  	margin-bottom: 3rem;
  }
}



//Style Article sections here

.message-bar {
	font-size: 2rem;
	padding: 2rem 0;
	border-bottom: 1px solid #ddd;
}