<section>
<div class="container">
  <div class="row">
    <div class="eight columns create-listing">
      <h2>Create a Listing ... Become a Sponsor</h2>
      <h5>Sponsor a business with your idea &nbsp; <i class="fa fa-lightbulb-o fa-2x"></i></h5>
      <p>When you present your idea to the panel you are essentially proposing an idea to offer to the public as a viable business idea. A lightbulb if you will.
      Ideas should meet these criteria. </p>
      <ul>
        <li>Registered Domain</li>
        <li>Functioning website</li>
        <li>Social media profiles</li>
        <li>Business model</li>
        <li>Branding (logo, identity etc.)</li>
        <li>Other (may include: software, equipment or other tangables)</li>
      </ul>
      <hr>
    </div>
  </div>
</div>
</section>
<div class="ten offset-by-one columns">
  <%= render partial: "form", locals: { product: @product } %>
</div>