<footer>
  <div class="container">
   <div class="row">
     <div class="four columns">
     <h5 class="text-center">Company</h5>
     </div>
     <div class="four columns">
     <h5 class="text-center">Services</h5>
     </div>
     <div class="four columns">
     <h5 class="text-center">Legal</h5>
     </div>
    </div>
    <div class="row">
     <div class="twelve columns text-center">
     <h5>Social links</h5>
     </div>
    </div>
  </div>
</footer>

 <footer class="copyright-footer">
  <div class="container text-center">
     <div class="row">

      <span>Copyright 2015  &nbsp; </span> One <i> click </i> &nbsp;Startup
 
     </div>
  </div>
</footer>